.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justyfy-between{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem  3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.btn-primery{
    background: rgb(5, 77, 170);
    color: aquamarine;
}
.btn-primery:hover{
    background: transparent;
    border-color: rgb(5, 77, 170);
}

.btn-secondry{
    background: transparent;
    color: aquamarine;
    border-color: rgb(5, 77, 170) ;
}

.btn-secondry:hover{
    background: transparent;
    color: rgb(5, 77, 170);
}

.flex-1{
    flex: 1;
}

.justify-center{
    justify-content: center;
}